h1 {
    text-align: center;
}

.super-mario {
    width: 150px;
    position: absolute;
    left: 100px;
    z-index: 1;
    
  }
  
  .goomba {
    width: 70px;
    left: 150px;
    top: 300px;
    position: absolute;
    z-index: 2;
  }
  
  .baloon {
    position: absolute;
    left: 300px;
    width: 200px;
    z-index: 3;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    left: 340px;
    top: 80px;
    width: 130px;
    z-index: 4;
  }
  
  .bowser {
    width: 280px;
    position: absolute;
    left: 480px;
    top: 145px;
  }